In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Train_data.csv")

In [3]:
df.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  Class
0   4  10   4  12   4  11   4   5   4   4      5
1   1   7   3   6   4   1   2   2   1  12      0
2   4   8   1   8   3   1   1   1   2  11      2
3   1   6   2   4   3   4   2   5   2   6      2
4   3  11   2  11   1  12   3   4   2  12      2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167408 entries, 0 to 167407
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   S1      167408 non-null  int64
 1   C1      167408 non-null  int64
 2   S2      167408 non-null  int64
 3   C2      167408 non-null  int64
 4   S3      167408 non-null  int64
 5   C3      167408 non-null  int64
 6   S4      167408 non-null  int64
 7   C4      167408 non-null  int64
 8   S5      167408 non-null  int64
 9   C5      167408 non-null  int64
 10  Class   167408 non-null  int64
dtypes: int64(11)
memory usage: 14.0 MB

In [5]:
df.describe().T

          count      mean       std  min  25%  50%   75%   max
S1     167408.0  2.503112  1.118754  1.0  2.0  3.0   4.0   4.0
C1     167408.0  6.994857  3.736653  1.0  4.0  7.0  10.0  13.0
S2     167408.0  2.501511  1.118731  1.0  2.0  2.0   4.0   4.0
C2     167408.0  6.997903  3.739248  1.0  4.0  7.0  10.0  13.0
S3     167408.0  2.501637  1.118437  1.0  2.0  3.0   4.0   4.0
C3     167408.0  7.025542  3.735214  1.0  4.0  7.0  10.0  13.0
S4     167408.0  2.501762  1.116116  1.0  2.0  3.0   3.0   4.0
C4     167408.0  7.012903  3.737146  1.0  4.0  7.0  10.0  13.0
S5     167408.0  2.496344  1.118416  1.0  1.0  2.0   3.0   4.0
C5     167408.0  6.985568  3.733063  1.0  4.0  7.0  10.0  13.0
Class  167408.0  1.206669  1.189444  0.0  0.0  1.0   2.0   9.0

In [6]:
X = df.drop("Class",axis=1)
y = df.Class

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [8]:
from xgboost import XGBClassifier

In [9]:
xgb = XGBClassifier()

In [10]:
xgb.fit(X_train,y_train)

C:\Users\Saurav\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[17:17:24] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [11]:
y_pred = xgb.predict(X_test)
y_pred

C:\Users\Saurav\anaconda3\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

array([3, 2, 0, ..., 1, 0, 2], dtype=int64)

In [13]:
from sklearn.metrics import accuracy_score

In [14]:
accuracy_score(y_test,y_pred)

0.6609820201899528

In [21]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()

In [16]:
clf.fit(X_train,y_train)

DecisionTreeClassifier()

In [17]:
clf_pred = clf.predict(X_test)

In [18]:
accuracy_score(y_test,clf_pred)

0.4966847858550863

In [19]:
param_dict = {
    "criterion":["gini","entropy"],
    "max_depth":[0,1,2,3,4,5,6,7,8,9,None]
}

In [22]:
from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(clf,param_grid = param_dict,cv=10,n_jobs=-1)

In [23]:
grid.fit(X_train,y_train)

C:\Users\Saurav\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"
C:\Users\Saurav\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [       nan 0.33599898 0.3406956  0.34958109 0.37018943 0.39164158
 0.3905589  0.39764487 0.40859873 0.42270358 0.49233898        nan
 0.33599898 0.34074041 0.35046218 0.36824809 0.39152218 0.3913803
 0.39897404 0.40976364 0.42329343 0.48778428]
  warnings.warn(

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, None]})

In [24]:
grid.best_score_

0.4923389778545667